<% @bikes.each do |x| %>

	<div class="container bike">
	 <div class="col-lg-4"></div>
		<div class="col-lg-6 product-list">
			<h2>Model : <%= x.manufacturer %></h2> 
			<%= image_tag x.image.url(:medium),class:"img-responsive" %>
			<td>Description :</td> 
			<td><%= x.description %></td>
			<td>Price :</td> 
			<td><%= x.price %></td>
		</div>
		<div class="col-lg-2"></div>
	</div>
<% end %>